<html{{  if .Params.lang }} lang="{{ .Params.lang }}"{{ end }}>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .Params.title }} {{ .Params.title }} | {{ end }} {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
    {{ if  .Params.head }} {{ .Params.head }} {{ end }}
  </head>
  <body id="home">
<a class="brand" href="/"><h1>Ignacio Torres Masdeu</h1></a>
    <ul id="nav">
		<li><a href="/post/">Archive</a></li>
		<li><a rel="me" href="https://github.com/itorres">Github</a></li>
		<li><a rel="me" href="https://www.linkedin.com/in/ignaciotorresmasdeu">LinkedIn</a></li>
		<li><a rel="me" href="https://social.xin.cat/@itorres">🐘</a></li>
		<li><a href="https://www.laquadrature.net/">π</a></li>
</ul>
<hr />
