@import url(http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic);

body {
	font-family: 'IM Fell English', serif;
	font-size: 12pt;
	padding-top: 60px;
	padding-bottom: 40px;
}

a {
 	color: #a63;
}

.highlight {
	background-color: #eee;
}


.sidebar-nav {
	text-align: justify;
	padding: 9px;
}