@import url('cmu/cmun-sans.css');
@import url('cmu/cmun-serif.css');
@import url('cmu/cmun-typewriter.css');
body {
    font-family: 'Computer Modern Serif', serif;
    padding: 1em;
    margin: 0 auto;
    max-width: 60em;
}


pre.highlight,code{ font-family: 'Computer Modern Typewriter'; }

ul#nav { margin: .2em 0; padding: 0; }

ul#nav > li {
	display: inline;
	margin-right: .5em;
}

div#content {
	border-top: solid 2px;
	border-bottom: solid 2px;
}

h1 {
	font-size: inherit;
	display: inline;
}

.highlight {
	background-color: #eee;
}

hr {
	border: 1px solid;
}

pre {
    margin: 1em 0;
    padding: .5em 1em;
}

blockquote {
    padding: 1em;
    border-left: .2em solid;
}