@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,700,500,400italic&subset=latin,latin-ext);
body {
    padding: 1em;
	background-color: #eee;
    margin: 0 auto;
    max-width: 80em;
}

ul#nav , ul#nav > li {
	display: inline;
	margin: .5em;
}

div#content {
	border-top: black solid 2px;
	border-bottom: black solid 2px;
}
h1 {
	font-size: inherit;
	display: inline;
	color: #c00;
}

a { color: #c00; }
a:visited { color: #844; }

.highlight {
	background-color: #eee;
}

hr {
	border: 1px #000 solid;
}

pre {
    margin: 1em 0;
    padding: .5em 1em;
    background: #fff;
}

blockquote {
    padding: 1em;
    background: #fff;
}