<!DOCTYPE html>
<html{%  if page.lang %} lang="{{ page.lang }}"{% endif %}>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>{% if page.title %} {{ page.title }} | {% endif %} Ignacio Torres Masdeu</title>
    <link rel='alternate' type='application/atom+xml' title='Atom (full content)' href='/atom.xml' />
    <link rel="stylesheet" href="/s/pygments.css" type="text/css">
    <link rel="stylesheet" href="/s/main.css" type="text/css">
    {% if  page.head %} {{ page.head }} {% endif %}
  </head>
  <body id="home">
    <a class="brand" href="/"><h1>Ignacio Torres Masdeu</h1></a>
    <ul id="nav">
			<li><a href="/archive/">Notes</a></li>
			<li><a rel="me" href="https://github.com/itorres">&gt; Github</a></li>
			<li><a rel="me" href="https://www.linkedin.com/in/ignaciotorresmasdeu">&gt; LinkedIn</a></li>
			<li><a href="https://www.laquadrature.net/">&gt; π</a></li>
    </ul>
		<div id="content">{{content}}</div>
    <footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="vertical-align: text-top;" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
      This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    </footer>
</body>
</html>
