<!DOCTYPE html>
<html{%  if page.lang %} lang="{{ page.lang }}"{% endif %}>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %} {{ page.title }} | {% endif %} Ignacio Torres Masdeu</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="/s/pygments.css" type="text/css">
    <link rel="stylesheet" href="/s/main.css" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  </head>
  <body id="home">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ignacio Torres Masdeu</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
				<li class="navbar-text">Social:</li>
				<li><a href="https://plus.google.com/113222507805746929714">+Ignacio</a></li>
				<li><a href="http://github.com/itorres">Github</a></li>
				<li><a href="http://twitter.com/itorres">@itorres</a></li>
				<li><a href="http://www.linkedin.com/in/ignaciotorresmasdeu">LinkedIn</a></li>
				<li><a href="http://www.facebook.com/ignacio.torres">Facebook</a></li>
				<li><a href="http://www.last.fm/user/uber-geek">last.fm</a></li>
				<li><a href="http://www.laquadrature.net/">π</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<div class="content">{{content}}</div>
  			</div>
			<div class="span3">
				<div class="well sidebar-nav"><p>I'm a proud father of three living in the <a href="http://en.wikipedia.org/wiki/Bages">Bages</a>, a <a href="http://en.wikipedia.org/wiki/Catalan_people">Catalan</a> county, with <a title="Sara" href="https://plus.google.com/104003128687804944558">the best partner in crime</a> I could wish for.</p>
				<p>I'm also lucky and crazy enough to be:
				<ul>
					<li>Technical partner in a <a title="XIN" href="http://xin.cat/">really special project</a>.</li>
					<li>Member and <em>Alpha Geek</em> of an association that builds <a title="Guifibages" href="http://guifibages.cat/">free <em>(as in freedom)</em> computer networks</a> in our shire, part of a <a title="Guifi.net" href="http://guifi.net/">greater project</a>.</li>
					<li>Systems Engineer in a <a title="Softonic" href="http://www.softonic.com/nosotros">really cool company</a>.</li>
				</ul></p>
				<p>Anyway the usual disclaimer applies: the opinions expressed here are my own, and no other party necessarily agrees with them.</p>
				</div>
  			</div>
  		</div>

      <hr>

      <footer>
        <p>&copy; Ignacio Torres Masdeu 2000-2013</p>
      </footer>

    </div><!--/.fluid-container-->

  </body>
</html>
